body{
	margin: 0;
	padding: 0;
	font-family: monospace;
	overflow: hidden auto;
}

ul{
	margin: 0;
	padding: 0;
}

.button{
	padding: 0.5rem;
	font-family: inherit;
	font-size: 1.5em;
	border: 1.5px solid rgba(0, 0, 0, 1);
	border-radius: 3px;
}

.header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 2% 15% 2% 15%;
}

.app-name{
	align-items: flex-start;
	justify-content: center;
  font-size: 2.5em;
}

.header-button{
	text-decoration: none;
  color: rgba(255, 0, 0, 1);
  background-color: rgba(255, 0, 0, 0.25);
	border-color: rgba(255, 0, 0, 1);
}

.header-button:hover{
	transition: 350ms;
	color: rgba(0, 255, 0, 1);
	background-color: rgba(0, 255, 0, 0.1);
	border-color: rgba(0, 255, 0, 1);
}

.main-app{
	width: 100vw;
	height: 100%;
	flex-direction: column;
	background: white;
}

.main{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 80vh;
}

.form{
	display: flex;
	flex-direction: column;
	padding: 0;
}

.form-head{
	align-self: center;
	font-size: 2rem;
	font-weight: lighter;
	margin: 5px;
	margin-bottom: 1.5rem;
}

form>div:not(:nth-child(2)){
	margin-top: 0.5rem;
}

.label{
	font-size: 1rem;
}

.form-input-field{
	background-color: rgba(227, 227, 227,1.0);
	border: 2px silver solid;
	width: 250px;
	height: 2rem;
}

.form-button{
	padding: 0;
	margin: 5px 0px 5px 0px;
	font-weight: bold;
	width: 258px;
	height: 38px;
	cursor: pointer;
}

.sidebar-container{
	height: 100%;
	width: 200px;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #f1f1f1;
}

.sidebar{
	display: flex;
	flex-direction: column;
	gap: 5px;
	height: 100vh;
}

.account{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 200px;
	height: max-content;
	position: relative;
	
}

.account>a{
	text-decoration: none;
	color: black;
	font-size: 1.2rem;
	margin: 0.5rem;
}

.profile-picture{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px silver solid;
	margin: 0.5rem;
	margin-left:1rem;
}

.sidebar-mid{
	height: 100%;
	overflow: hidden auto;
	scrollbar-width: thin;
}

.notes{
	margin: 0.5rem;
	margin-left: 1rem;
	font-size: 1rem;
	font-weight: lighter;
}

.notes:not(:first-child){
	margin-top: 1rem;
}

.notes-list{
	height: 10rem;
	overflow: hidden auto;
	scrollbar-width: none;
	text-indent: 2rem;
}

ul.notes-list{
	padding-bottom: 3px;
	border-bottom: 2px silver solid;
}

.notes-list::-webkit-scrollbar{
	display: none;
}

div.notes-list>div{
	margin: 0px 2px 0px 2px;
	padding: 3px;
	border-radius: 3px;
}

div.notes-list>div>a{
	font-size: 1rem;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.55);
}

div.notes-list>div:hover{
	transition: 350ms;
	background-color: rgba(0, 0, 0, 0.15);
	color: rgba(0, 0, 0, 1);
	cursor: pointer;
}

.sidebar-bottom-container{
	position: absolute;
	bottom: 0;
	width: 200px;
	background-color: #f1f1f1;
}

.sidebar-bottom{
	display: flex;
	flex-direction: column;
}

.new-note{
	display: flex;
	align-items: center;
	justify-content: center;
	width: inherit;
	border-top: 1px silver solid;
	background-color: #f1f1f1;
	color: rgba(0, 0, 0, 1);
	font-size: 1.2rem;
}

.new-note>a{
	color: rgba(0, 0, 0, 1);
	text-decoration: none;
	padding: 10px;
}

.new-note>a:hover{
	transition: 350ms;
	color: rgba(0, 0, 0, 0.55);
}

.error{
  color: red;
  font-size: 0.6em;
}
