body{
	margin: 0;
	padding: 0;
	font-family: monospace;
}

.button{
	padding: 0.5rem;
	font-family: inherit;
	font-size: 1.5em;
	border: 1.5px solid rgba(0, 0, 0, 1);
	border-radius: 3px;
}

.header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 1.0rem 10rem auto 10rem;
  font-family: monospace;
}

.app-name{
	align-items: flex-start;
	justify-content: center;
  font-size: 2.5em;
}

.register{
	text-decoration: none;
  color: rgba(255, 0, 0, 1);
  background-color: rgba(255, 0, 0, 0.2);
	border-color: rgba(255, 0, 0, 1);
}

.main{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 80vh;
}

.form{
	display: flex;
	flex-direction: column;
	padding: 0;
}

.form-head{
	align-self: center;
	font-size: 2rem;
	font-weight: lighter;
	margin: 5px;
}

form>div:not(:nth-child(2)){
	margin-top: 0.5rem;
}

.label{
	font-size: 1rem;
}

.form-input-field{
	background-color: lightgray;
	border: 2px silver solid;
	width: 250px;
	height: 2rem;
}

.form-button{
	padding: 0;
	margin: 5px 0px 5px 0px;
	font-weight: bold;
	width: 258px;
	height: 38px;
	cursor: pointer;
}

.error{
  color: red;
  font-size: 0.6em;
}
